doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1')
    title a Markdown note taking

    link(rel='stylesheet', type='text/css', href='build/build.css')

  body

    article

      section
        h2 事情是這樣的
        h2 我需要一個筆記軟體
        h2 用來記筆記，當知識庫

      section
        h2 你一定會說
        h2 啊不就Evernote就好了

      section
        h2.bullet 我知道 Evernote 很方便
        ul
          li 可以分類又加tag耶
          li 可以全文搜尋耶
          li 可以自動離線編輯雲端備份耶
          li 可以在多個 device 上看耶
          li 但是... 

      section
        h2 我們是工程師耶
        h2 Evernote 拿來記 code
        h1 勁賣誇咧

      section
        h2 如果可以像 github 那樣
        h2.bullet 用 markdown 就好了
        ul
          li 格式簡單，不會出現神奇的layout (rtf都偷偷加了什麼怪tag)
          li 工程師用起來很直覺 (跟寫程式差不多)
          li 很容易嵌 source code

      section
        h2.bullet mac上很多markdown editor
        ul
          li 
            a(href="http://mouapp.com/") Mou 
            免費, 好用, 但不支援 GFM (Gitlab Favored Markdown)
          li 
            a(href="http://pad.haroopress.com/") HaroodPad 
            免費, 好用, 還支援 GFM
          li 但是...
          li 
            strong 怎麼搜尋？怎麼管理？

      section
        h2 要搜尋和管理是吧
        h2 sublime超強的
        h2 plugin那麼多
        h2 一定有支援markdown的啊

      section
        h2 sublime+markdown
        h2.bullet 是的，有解
        ul
          li 裝
            a(href="http://marked2app.com/") Marked 2
            ，是一個很棒的 markdown viewer
          li 然後裝這個官方小工具
            a(href="http://support.markedapp.com/kb/how-to-tips-and-tricks/marked-bonus-pack-scripts-commands-and-bundles") Bonus pack
          li 然後就可以在 sublime 裡
          li cmd + B
          li 還算不錯的方案
          li 小小的缺憾是少了tag
          li 另一個缺憾是..
          li Marked 2要$13.99
          li 一個viewer要收我$13.99
          li 有種不舒服的被搶的感覺....

      section
        h2 那麼有沒有可能 
        h2 為可愛的Evernote
        h2 加上Markdown 
        h3.bullet 嗯..好吧的確有一些
            a(href="http://www.todohack.com/2014/02/12/three-ways-to-use-markdown-with-evernote/") 很扭曲的作法
        ul
          li 用 evernote web 寫, 加 browser extend 來看 (遜)
          li 用
            a(href="http://markable.in/") Markable
            寫，匯出 html 到 evernote (啊我接下來要改怎麼辦)
          li 用
            a(href="http://bywordapp.com/") byword
            寫，匯出 html 到 evernote (還要我再罵一次嗎...)

      section(data-bespoke-state='github')
        h2 煩死了
        h2 你那麼喜歡github
        h2.bullet 那就直接開repo寫.md啊
        ul
          li 還不賴，但是有些 note 不宜公開...

      section
        h2 哦對了最近有個新服務
        h2.bullet 叫 
          a(href="http://logown.com/" target="__blank") logdown
        ul
          li 它其實是個 blog system
          li 但是可以把文章設成private，就跟筆記一樣
          li 文章完全用markdown寫，有很好用的online editor
          li 還可以全文搜尋耶
          li 但是...
          li 沒辦法分類和tag管理
          li 而且把 blog 和 note 混在一起，其實蠻難找的

      section
        h2 我要的不過就是一個
        h2 支援markdown的
        h2 evernote而已啊
        h2 這麼簡單的需求
        h2 難道就沒有人做嗎
        h2 ？？

      section
        h2 有的，你的關鍵字是
        h2 
          a(href="https://www.google.com.tw/search?q=markdown+note-taking&oq=markdown+note-taking&aqs=chrome..69i57j0l2j69i59j0l2.3556j0j7&sourceid=chrome&es_sm=91&ie=UTF-8") markdown note-taking

      section
        h2.bullet 幾個選擇
        ul
          li
            a(href="http://brettterpstra.com/projects/nvalt/") nvALT
          li
            a(href="http://blankdesk.com/noted") Noted
          li 
            a(href="http://www.notebooksapp.com/") Notebooks
          li
            a(href="http://writeapp.net") Write

      section
        h2.bullet 
          a(href="http://brettterpstra.com/projects/nvalt/") nvALT
        ul
          li open source+free
          li file based
          li 很陽春但堪用
          li 但最大的缺點是
          li 很醜
          li 非常醜
          li 真的
          li 醜斃了...

      section
        h2.bullet 
          a(href="http://blankdesk.com/noted") Noted
        ul
          li 便宜 $4.99 for mac
          li 用自己的 db 來存 note，不太 portable
          li 可以用 notebook, favorite 來管理
          li 可以放附檔
          li sync via iCloud
          li 但沒有 mobile app...

      section
        h2.bullet
          a(href="http://www.notebooksapp.com/") Notebooks
        ul
          li 貴 $19.99 for Mac(有試用版)
          li NTD 390 for iphone/ipad
          li file based(可以用Dropbox等做sync)
          li 不只支援 markdown
          li text search
          li 沒有快速鍵切換 preview/edit mode

      section
        h2.bullet
          a(href="http://writeapp.net") Write
        ul
          li $9.99 mac, $1.99 iPad, $1.99 iPhone
          li 目前我在用的
          li file based
          li text search
          li sync using Dropbox或其它
          li iPad app 介面很好寫
          li mac 介面也不錯

      section
        h2.bullet 結論
        ul
          li 用 markdown 寫筆記真的很方便
          li 但是 evernote 還是有存在的價值
          li 像是 web clipping 就很有用
          li 如果 evernote 支援 markdown
          li 那我可能還是會用它當我唯一的筆記&知識庫

    script(src='build/build.js')